@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcom to VS Eat !</h1>
    <a class="text-link text-dark" asp-area="" asp-controller="Restaurant" asp-action="Index">Make a new Command</a>

</div>
