.grid_parent {
    display: flex;
    flex-wrap: wrap; 
    margin: 25px; 
    align-content: center; 
}

.grid_child{
    align-content: center; 
}
.container__content {
    /* Take available height */
    flex: 1;
}


.titleProduct {
    color: darkorange   ;
    align-content:center; 
}


.containerImage {
    position: relative;
    width: 300px;
    height: 100%;
}


.regionFilter {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.Disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.45;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ErroMessage{
   color:red; 
   
}