.grid_parent {
    display: flex;
    flex-wrap: wrap; 
    margin: 25px; 
    align-content: center; 
}

.grid_child{
    align-content: center; 
}
.container__content {
    /* Take available height */
    flex: 1;
}


.titleRestaurant {
    color: darkorange   ;
    align-content:center; 
}


#restaurant restaurantImage {
    transition: transform .4s;
}

#restaurant:hover restaurantImage {
    transform: scale(1.3);
    transform-origin: 50% 50%;
}


.containerImage {
    position: relative;
    width: 300px;
    height: 100%;
}

.containerImage:hover .overlayRestaurantImage {
    opacity: 0.3;
}

.regionFilter {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.checked {
    color: orange; 
}

.reviewText{
    font-style: italic; 
    font-size: small; 
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #51e534;
}

.searchPanel{
    background-color:#ffda9e;
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 30px;
    padding-bottom: 60px; 
    border-radius: 30px; 
  
}


