@model IEnumerable<DTO.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/restaurant.css"/>
</head>
<body>
    <header>
    </header>

    <br />
    <!--
    <select id="regionFilter" name="regionFilter" class="contactForm">
        <option value="Brig">Brig</option>
        <option value="Conthey">Conthey</option>
        <option value="Entremont">Entremont</option>
        <option value="Goms">Goms</option>
        <option value="Hérens">Hérens</option>
        <option value="Leuk">Leuk</option>
        <option value="Martigny">Martigny</option>
        <option value="Monthey">Monthey</option>
        <option value="Raron">Raron</option>
        <option value="Saint-Maurice">Saint-Maurice</option>
        <option value="Sierre">Sierre</option>
        <option value="Sion">Sion</option>
        <option value="Visp">Visp</option>
    </select>
            -->

    <br />
    <br />

    <h2>Take-out options available nearby</h2>
    <br />

    <tbody>

        <div class="grid_parent">
            <!-- Column -->
            @foreach (var item in Model)
            {
                <div class="grid_parent">
                    <!-- Cover -->
                    <div class="containerImage">

                        <a href=@Url.Action("ShowAllProductFromRestaurant", new { id = item.IdRestaurant })>
                            <img src="/Images/restaurant.jpg" width="300" height="200" class="restaurantImage" />
                            <div class="overlayRestaurantImage"></div>
                        </a>
                    </div>

                    <!-- Content -->
                    <div>
                    <tr>
                        <td>
                            <h2 class="titleRestaurant">
                                @Html.DisplayFor(modelItem => item.RestaurantName)
                            </h2>
                        </td>
                        <p></p>
                        <td>
                            @Html.DisplayFor(modelItem => item.RestaurantAddress)
                        </td>
                        <p></p>
                        <td>
                            @Html.DisplayFor(modelItem => item.Picture)
                        </td>
                    </tr>
                    </div>

            <!-- Button sticks to the bottom -->
            </div>
        }

            </div>



        </tbody>

    </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</html>