@model IEnumerable<DTO.Product>

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/restaurant.css" />
</head>
<body>
    <header>
    </header>
    <tbody>
        <div class="container">
            <!-- Column -->
            @foreach (var item in Model)
            {
                <div class="container__column">
                    <!-- Cover -->
                    <div class="containerImage">

                        <a href=@Url.Action("ProductDetails", new { id = item.IdProduct })>
                            <img src="@item.Picture" width="300" height="200" class="restaurantImage"/>
                        </a>
                    </div>

                    <!-- Content -->
                    <div class="container__content">
            <tr>
                <td>
                    <h2 class="titleRestaurant">
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </h2>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) CHF
                </td>
  
            </tr>
            <br />
            </div>

            <!-- Button sticks to the bottom -->
            </div>
        }

            </div>

        </tbody>

    </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</html>