@*
*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">


<body>
    <br />
    <center>
        <form action="https://getform.io/f/192146da-53fe-49b7-aa15-faa48ae6ba33" method="POST">
            <h2 class="mainButton">Get in touch</h2>
            <form class="contact">
                <div class="contact">
                    <input name="name" type="text" required="required" id="input-name" placeholder="Name">
                    <input name="email" type="text" required="required" id="input-email" placeholder="Email address">
                    <input name="subject" type="text" required="required" id="input-subject" placeholder="Subject">
                </div>
                <div class="contact">
                    <textarea name="message" required="required" type="text" id="input-message" placeholder="Message"></textarea>
                </div>
                <input type="submit" value="Submit" id="input-submit">
            </form>
        </form>
        <br />    <br />
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="829" height="343" id="gmap_canvas" src="https://maps.google.com/maps?q=hes%20so%20sierre&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.online-timer.net"></a><br>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 343px;
                        width: 829px;
                    }
                </style><a href="https://www.embedgooglemap.net">how to copy and paste google maps</a>
                <style>
                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 343px;
                        width: 829px;
                    }
                </style>
            </div>
        </div>
        <br />    <br />
    </center>

</body>



</html>