@*
*@
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <form action="https://getform.io/f/28db2f35-1881-413e-b063-15230314c2d0" method="POST">
        <div class="wrapper">
            <div class="contact__container">
                <div class="contact__title">
                    <h2>Contact us<hr></h2>
                </div>
                <form class="contact__form">
                    <p>Name</p>
                    <input class="contact__form-input" type="text">

                    <p>Email</p>
                    <input class="contact__form-input" type="text">
                    
                    <p>Subject</p>
                    <input class="contact__form-input" type="text">

                    <p>Message</p>
                    <textarea class="contact__form-textarea" type="text"></textarea>

                    <input type="submit" value="Send message">

                </form>
            </div>
        </div>
    </form>
</body>
</html>